<%- include('../partials/head') %>
<body>
  <%- include('../partials/msg') %> <%- include('../partials/header') %> <%
  if(user.roles == "User") { %>
  <section class="secondary-section">
    <div class="container d-flex-col center gap">
      <h1>Welcome to this App.</h1>
      <h3>We are very happy to have you joining us.</h3>
      <p>
        Please click on your name in the header section and update your personal
        information.
      </p>
      <p>
        If you cannot access you personal data, please aks questions in the FAQ
        chat room by clicking on the chat icon in the header.
      </p>
    </div>
  </section>
  <% } %> <% if (user.roles == 'Admin' || user.roles == 'Manager' || user.roles
  == 'Owner' || user.roles == 'Super') { %>
  <a style="display: block" class="head">
    <div class="container">
      <h2 class="name" style="text-align: center">
        <% if(user.roles == 'Admin' || user.roles == 'Owner' || user.roles == 'Super') { %>
        <div class="atag">ADMIN AREA</div>
        <% } %> <% if(user.roles == 'Manager') { %>
        <div class="atag">MANAGER AREA</div>
        <% } %>
      </h2>
      <div class="icon-bar row">
        <img class="col profile" src="/imgs/staf.png" alt="" />
        <img class="col contacts" src="/imgs/shop.png" alt="" />
        <img class="col calendar" src="/imgs/stat.png" alt="" />
        <img class="col settings" src="/imgs/db.png" alt="" />
      </div>
    </div>
  </a>

  <section class="profile-tab tab">
    <div class="container flow">
      <span></span>
      <h3 style="margin-bottom: 16px">Users</h3>
    </div>

    <% users.forEach((userHere)=>{ %>
    <section class="sub-cat">
      <div class="container">
        <h4>
          <div class="d-flex-visible space-between">
            <a><%= userHere.userName %></a>
              <a class="d-flex-visible space-between width-d-flex-half" style="font-size: 16px">
                <small><%= userHere.roles%></small>
                <small class="d-flex-visible space-between width-d-flex-half"><%= userHere.store ? userHere.store.storeName : ''%></small>
              </a> 
          </div>
        </h4>
      </div>
    </section>
    <div class="container flow sub-cat-content">
      <span></span>
      <form
        action="/user/<%= userHere._id%>?_method=PUT"
        method="POST"
        class="flow"
      >

      <p style="font-weight: bolder">
           <%= `Company: ${ !userHere.storeCompany ? '' : userHere.storeCompany.companyName }` %>
      </p>

      <% if(user.roles == 'Owner' || user.roles == 'Super' || user.roles == 'Admin') { %>

<label for="roles">Select Role: <p style="font-weight: bolder;"> Current role: <%= userHere.roles %> </p> </label>
<div class="custom-select" style="width: 200px">
  <select name="roles">
    <option value="0">Select role:</option>
    <% roles.forEach((role)=>{ %>
    <option value="<%= role %>"><%= role %></option>
    <% }) %>
  </select>
</div>

<% } %>

<% if(user.roles == 'Owner' || user.roles == 'Super' || user.roles == 'Admin') { %>

<label for="storeCompany">Select Store Company</label>
<div class="custom-select" style="width: 200px">
  <select name="storeCompany">
    <option value="0">Select company:</option>
    <% companies.forEach((company)=>{ %>
    <option value="<%= company._id %>"><%= company.companyName %></option>
    <% }) %>
  </select>
</div>

<% } %>

        <label for="userName">User name</label>
        <input
          autocomplete="off"
          type="text"
          name="userName"
          value="<%= userHere.userName %>"
        />
        <label for="userEmail">User email</label>
        <input
          autocomplete="off"
          type="email"
          name="userEmail"
          value="<%= userHere.userEmail %>"
        />
        

        <div class="d-flex-visible space-between">
          <label for="ctive">Active</label>
          <input autocomplete="off" type="checkbox" name="active" <%
          if(userHere.active === true) { %> checked <% } else { %> <% } %> />
        </div>
        <div class="d-flex-visible space-between">
          <button class="btn-primary">Update</button>
          <a class="btn-primary" href="/user/<%= userHere._id%>">Delete</a>
        </div>
      </form>
    </div>
    <% }); %>
  </section>

  <section class="contact-tab tab">
    <div class="container flow">
      <span></span>
      <% if(user.roles == 'Admin' || user.roles == 'Owner' || user.roles == 'Super') { %>
      <h3 style="margin-bottom: 16px">Stores</h3>
      <% } %> <% if(user.roles == 'Manager') { %>
      <h3 style="margin-bottom: 16px">Store details</h3>
      <% } %>
    </div>

    <% if(user.roles == 'Manager' && stores.length > 0) { %>

    <section class="sub-cat">
      <div class="container">
        <h4>
          <div class="d-flex-visible space-between">
            <a> <%= stores.storeName %> </a>
            <a> <%= stores.user.userName %> </a>
          </div>
        </h4>
      </div>
    </section>

    <div class="container flow sub-cat-content">
      <span></span>
      <form
        action="/store/<%= stores._id%>?_method=PUT"
        class="flow"
        method="POST"
      >
        <label for="storeName">Store name</label>
        <input
          autocomplete="off"
          type="text"
          name="storeName"
          value="<%= stores.storeName %>"
        />

        <label for="storeStreet">Store street</label>
        <input
          autocomplete="off"
          type="text"
          name="storeStreet"
          value="<%= stores.storeStreet %>"
        />

        <label for="storeStreetNumber">Street number</label>
        <input
          autocomplete="off"
          type="text"
          name="storeStreetNumber"
          value="<%= stores.storeStreetNumber %>"
        />

        <label for="storeCity">Store city</label>
        <input
          autocomplete="off"
          type="text"
          name="storeCity"
          value="<%= stores.storeCity %>"
        />

        <label for="storeRGM">Store RGM</label>
        <input
          autocomplete="off"
          type="text"
          name="storeRGM"
          value="<%= stores.storeRGM %>"
        />

        <div class="d-flex-visible space-between">
          <button class="btn-primary">Update</button>
        </div>
      </form>
    </div>

    <% } %> 
    
    <% if(user.roles == 'Admin' || user.roles == 'Owner' || user.roles == 'Super') { %>

    <section class="secondary-section">
      <div class="container flow">
        <div class="new-employee">
          <h4>CREATE NEW STORE</h4>
        </div>
        <form
          method="POST"
          class="employee-form flow"
          action="/store"
          style="max-height: 0px"
        >

         <!-- 
          <input
            autocomplete="off"
            type="hidden"
            name="admin"
            value="<%=user.id%>"
          />
          -->

          <label for="storeAdmin">Store Area Coach</label>
          <div class="custom-select" style="width: 200px">
            <select name="admin">
              <option value="0">Select Area Coach:</option>
              <% users.forEach((user)=>{ %>
                <% if(user.roles == 'Admin' || user.roles == 'Owner') { %>
                  <option value="<%= user._id %>"><%= user.userName %></option>
                <% } %>
              <% }) %>
            </select>
          </div>


          <label for="storeUser">Store Manager</label>
          <div class="custom-select" style="width: 200px">
            <select name="user">
              <option value="0">Select manager:</option>
              <% users.forEach((user)=>{ %>
                <% if(user.roles == 'Manager' || user.roles == 'Owner') { %>
              <option value="<%= user._id %>"><%= user.userName %></option>
              <% } %>
              <% }) %>
            </select>
          </div>

        

          <label for="storeCompany">Store Company</label>
          <div class="custom-select" style="width: 200px">
            <select name="storeCompany">
              <option value="0">Select company:</option>
              <% companies.forEach((company)=>{ %>
              <option value="<%= company._id %>"><%= company.companyName %></option>
              <% }) %>
            </select>
          </div>

          <label for="storeName">Store name</label>
          <input autocomplete="off" type="text" name="storeName" />

          <label for="storeEmail">Store email</label>
          <input autocomplete="off" type="email" name="storeEmail" />

          <label for="storeStreet">Store street</label>
          <input autocomplete="off" type="text" name="storeStreet" />

          <label for="storeStreetNumber">Street number</label>
          <input autocomplete="off" type="text" name="storeStreetNumber" />

          <label for="storeCity">Store city</label>
          <input autocomplete="off" type="text" name="storeCity" />

          <label for="storeRGM">Store RGM</label>
          <input autocomplete="off" type="text" name="storeRGM" />

          <button class="btn-primary dark-outline">Save</button>
        </form>
      </div>
    </section>

    <% stores.forEach((store)=>{ %>
    <section class="sub-cat">
      <div class="container">
        <h4>
          <div class="d-flex-visible space-between">


            <a > <%= store.storeName %> </a>  
            
            <a class="d-flex-visible space-between width-stores" style="font-size: 16px">
                <small><%= store.admin.userName %></small>
                <small class="d-flex-visible space-between width-d-flex-half"><%= store.user.userName %></small>
                </a> 
            
            
          </div>
        </h4>
      </div>
    </section>

    <div class="container flow sub-cat-content">
      <span></span>
      <form
        action="/store/<%= store._id%>?_method=PUT"
        class="flow"
        method="POST"
      >
        <div class="custom-select" style="width: 200px">
          <select name="user">
            <option value="0">Upadate manager:</option>
            <% users.forEach((user)=>{ %>
              <% if(user.roles == 'Manager') { %>
              <option value="<%= user._id %>"><%= user.userName %></option>
              <% } %>
            <% }) %>
          </select>
        </div>

        <div class="custom-select" style="width: 200px">
          <select name="storeCompany">
            <option value="0">Update company:</option>
            <% companies.forEach((company)=>{ %>
            <option value="<%= company._id %>"><%= company.companyName %></option>
            <% }) %>
          </select>
        </div>

          <div class="custom-select" style="width: 200px">
            <select name="admin">
              <option value="0">Update Area Coach:</option>
              <% users.forEach((user)=>{ %>
                <% if(user.roles == 'Admin') { %>
                  <option value="<%= user._id %>"><%= user.userName %></option>
                <% } %>
              <% }) %>
            </select>
          </div>

        <p style="font-weight: bolder">
        <%= ` ${store.storeName} is currently assigned to
        - ${store.storeCompany == null ? 'No Store' : store.storeCompany.companyName}.` %>
      </p>
      <p style="font-weight: bolder">
           <%= `The Area Coach of the store is ${  store.admin.userName }.` %>
      </p>
      <p style="font-weight: bolder">
           <%= `The manager of the store is ${ store.user.userName }.` %>
      </p>

        <label for="storeName">Store name</label>
        <input
          autocomplete="off"
          type="text"
          name="storeName"
          value="<%= store.storeName %>"
        />

        <label for="storeEmail">Store email</label>
        <input
          autocomplete="off"
          type="email"
          name="storeEmail"
          value="<%= store.storeEmail %>"
        />

        <label for="storeStreet">Store street</label>
        <input
          autocomplete="off"
          type="text"
          name="storeStreet"
          value="<%= store.storeStreet %>"
        />

        <label for="storeStreetNumber">Street number</label>
        <input
          autocomplete="off"
          type="text"
          name="storeStreetNumber"
          value="<%= store.storeStreetNumber %>"
        />

        <label for="storeCity">Store city</label>
        <input
          autocomplete="off"
          type="text"
          name="storeCity"
          value="<%= store.storeCity %>"
        />

        <label for="storeRGM">Store RGM</label>
        <input
          autocomplete="off"
          type="text"
          name="storeRGM"
          value="<%= store.storeRGM %>"
        />

        <div class="d-flex-visible space-between">
          <button class="btn-primary">Update</button>
          <a class="btn-primary" href="/store/<%= store._id%>">Delete</a>
        </div>
      </form>
    </div>
    <% }) %> <% } %>
  </section>

  <section class="calendar-tab tab">
    <div class="container flow">
      <span></span>
      <h3 style="margin-bottom: 16px">Settings</h3>
    </div>


   <%  if(user.roles == 'Owner' || user.roles == 'Super') { %>


  
    <section class="secondary-section">
      <div class="container flow">
        <div class="new-employee">
          <h4>CREATE NEW COMPANY</h4>
        </div>
        <form
          method="POST"
          class="employee-form flow"
          action="/employee/company"
          style="max-height: 0px"
        >

    
          <input
            autocomplete="off"
            type="hidden"
            name="admin"
            value="<%=user.id%>"
          />

          <label for="companyName">Company name</label>
          <input autocomplete="off" type="text" name="companyName" />

          <label for="companyStreet">Street</label>
          <input autocomplete="off" type="text" name="companyStreet" />

          <label for="companyStreetNumber">Street Number</label>
          <input autocomplete="off" type="text" name="companyStreetNumber" />

          <label for="companyCity">City</label>
          <input autocomplete="off" type="text" name="companyCity" />

          <label for="companyCountry">Country</label>
          <input autocomplete="off" type="text" name="companyCountry" />

          <label for="companyBusinessRegister">Business Register Information</label>
          <input autocomplete="off" type="text" name="companyBusinessRegister" />

          <label for="companyTaxId">Company Tax Id</label>
          <input autocomplete="off" type="text" name="companyTaxId" />

          <button class="btn-primary dark-outline">Save</button>
        </form>
      </div>
    </section>




    <section class="sub-cat">
      <div class="container">
        <h4><a>Work Positions</a></h4>
      </div>
    </section>

    <div class="container flow sub-cat-content">
      <span></span>

      <% positions.forEach( (position)=> { %>

        <div class="childList">
        <div><%= position.position %></div>
        <a
        class="btn-secondary"
    href="/employee/position/<%= position._id %>"
    >Delete</a
  >
</div>

<% }); %>

      <form action="/employee/position" method="POST">
        <label for="position">Create Work Position</label>
        <input autocomplete="off" type="text" name="position" />
        <button class="btn-primary">Save</button>
      </form>
    </div>


    <% companies.forEach((company)=>{ %>
    <section class="sub-cat">
      <div class="container">
        <h4>
          <div class="d-flex-visible space-between">
            <a><%= company.companyName %></a>
          </div>
        </h4>
      </div>
    </section>
    <div class="container flow sub-cat-content">
      <span></span>
      <form
        action="employee/company/<%= company._id%>?_method=PUT"
        method="POST"
        class="flow"
      >
        <label for="companyName">Company name</label>
        <input
          autocomplete="off"
          type="text"
          name="companyName"
          value="<%= company.companyName %>"
        />
        <label for="companyStreet">Company street</label>
        <input
          autocomplete="off"
          type="text"
          name="companyEmail"
          value="<%= company.companyStreet %>"
        />

        <label for="companyStreetNumber">Street number</label>
        <input
          autocomplete="off"
          type="text"
          name="companyStreetNumber"
          value="<%= company.companyStreetNumber %>"
        />

        <label for="companyCity">City</label>
        <input
          autocomplete="off"
          type="text"
          name="companyCity"
          value="<%= company.companyCity %>"
        />

        <label for="companyCountry">Country</label>
        <input
          autocomplete="off"
          type="text"
          name="companyCountry"
          value="<%= company.companyCountry %>"
        />

        <label for="companyBusinessRegister">Business Register</label>
        <input
          autocomplete="off"
          type="text"
          name="companyBusinessRegister"
          value="<%= company.companyBusinessRegister %>"
        />

        <label for="companyTaxId">Tax Id</label>
        <input
          autocomplete="off"
          type="text"
          name="companyTaxId"
          value="<%= company.companyTaxId %>"
        />



        <div class="d-flex-visible space-between">
          <button class="btn-primary">Update</button>
          <a class="btn-primary" href="employee/company/<%= company._id%>">Delete</a>
        </div>
      </form>
    </div>
    <% }) %>

    <% } %>
  </section>



  <section class="settings-tab tab">
    <div class="container flow">
      <span></span>
      <h3 style="margin-bottom: 16px">API</h3>
    </div>
    <section class="sub-cat">
      <div class="container">
        <h4><a>Mapal Employees</a></h4>
      </div>
    </section>

    <div class="container flow sub-cat-content">
      <span></span>
      <div class="flow">
        <% mapal.forEach((emp)=>{ %>
          <div>
            <div class="d-flex-visible space-between"><strong><p> <%= emp.name  %> <%= emp.last_name  %></p> </strong> </div> 
                <div class="calendar">
                  <a onclick="document.getElementById('previous').submit();" class="decrement"><div >Previous</div></a>
                  <div class="month" value="1"><%= moment(new Date(emp.reqMonth)).format('MMMM') %> <%= moment(new Date(emp.reqMonth)).format('YYYY') %></div>
                  <a onclick="document.getElementById('next').submit();" class="increment"><div >Next</div></a>
                  <div class="week-day">Mon</div>
                  <div class="week-day">Tue</div>
                  <div class="week-day">Wed</div>
                  <div class="week-day">Thr</div>
                  <div class="week-day">Fri</div>
                  <div class="week-day">Sat</div>
                  <div class="week-day">Sun</div>
                  <% emp.time.sort((a, b) => new Date(a.business_date).getTime() - new Date(b.business_date).getTime()).forEach( (t)=>{ %>
                  <div class="day">
                    <div class="day-num"><%= new Date(t.business_date).getDate()  %></div>
                    <div class="day-con"><%= t.payable_time ? parseFloat((t.payable_time/3600).toFixed(2)) : '' %></div>
                  </div>
                  <% }) %>
                </div>
            <div style="height: 25px"></div>
          </div>
          <% }) %>
          %>
      </div>
    </div>
    <% if (appState == 'calendar'){ %>
          <script>window.addEventListener('DOMContentLoaded', (event) => {appStateSettingsMapalEmp();});</script>
    <% } %>
    <form id="next" method="post" action="/employee">
                    <input type="hidden" name="appState" value="calendar">
                    <input type="hidden" name="calendar" value="next">
                    </form>
                  <form id="previous" method="post" action="/employee">
                    <input type="hidden" name="appState" value="calendar">
                    <input type="hidden" name="calendar" value="previous">
                  </form>

    <section class="sub-cat">
      <div class="container">
        <h4><a>Users</a></h4>
      </div>
    </section>

    <div class="container flow sub-cat-content">
      <span></span>
      <form action="">
        <label for="storeName">User name</label>
        <input autocomplete="off" type="text" name="storeName" />
        <button class="btn-primary">Save</button>
      </form>
    </div>
  </section>



  <% } %> <% if(user.roles == 'Manager' || user.roles == 'Admin' || user.roles
  == 'Owner' || user.roles == 'Super') { %>
  <section class="mid-section">
    <div class="container d-flex-visible center flow">
      <span></span>
      <input
        autocomplete="off"
        id="search"
        type="text"
        name="searchEmployee"
        placeholder="Find employee..."
      />
    </div>
  </section>

  <% if (user.roles == 'Manager' || user.roles == 'Admin' ||
  user.roles == 'Owner' || user.roles == 'Super') { %>
  <section class="secondary-section">
    <div class="container flow">
      <div class="new-employee">
        <h4>
          CREATE NEW EMPLOYEE <%= user.roles == 'Manager' || user.roles ==
          'Owner' || user.roles == 'Super' ? stores.storeName : '' %>
        </h4>
      </div>
      <form
        autocomplete="off"
        method="POST"
        class="employee-form flow"
        action="/employee/personal"
        style="max-height: 0px"
      >
        <div class="flow">
          <div>
            <div class="d-flex-visible space-between">
              <label for="employeeState">Employee state</label>
              <input
                autocomplete="off"
                name="employeeState"
                type="checkbox"
                checked
              />
              <% if(user.roles == 'Manager') { %>
              <input
                autocomplete="off"
                type="hidden"
                value="<%= stores._id %>"
                name="store"
              />
              <% } %>
            </div>
          </div>
          <div>
            <% if(user.roles == 'Admin' || user.roles == 'Owner' || user.roles == 'Super') { %>
            <div class="custom-select" style="width: 200px">
              <select name="store" required>
                <option value="0">Select store:</option>
                <% stores.forEach((store)=>{ %>
                <option value="<%= store._id %>"><%= store.storeName %></option>
                <% }) %>
              </select>
            </div>
            <% } %>
          </div>

          <div>
            <label for="firstName">First name</label>
            <input
              autocomplete="off"
              type="text"
              name="firstName"
              required
            />
          </div>
          <div>
            <label for="lastName">Last name</label>
            <input
              autocomplete="off"
              type="text"
              name="lastName"
              required
            />
          </div>

          <div>
            <label for="birthName">Birth name</label>
            <input
              autocomplete="off"
              type="text"
              name="birthName"
              required
            />
          </div>
      
          <div>
            <label for="email">Email</label>
            <input
              autocomplete="off"
              type="email"
              name="email"
            />
            <label for="password">Temporary password</label>
            <input
            autocomplete="off"
              type="password"
              name="password"
            />
          </div>

          <div class="d-flex-visible space-between">
            <button class="btn-primary dark-outline">Create Employee</button>
          </div>
          <div style="height: 25px"></div>
        </div>
      </form>
    </div>
  </section>
  <% } %> <% } %> <% data.forEach((employee)=> {%>
  <a
    style="display: block"
    href="/employee/<%= employee._id %>"
    class="head-employee"
    ><div class="container">
      <h2 class="name">
        <div class="d-flex-visible space-between">
          <div class="atag">
            <%= employee.lastName %> <%= employee.firstName %>
          </div>
          <div class="atag">
            <small style="font-size: 13px">
              <%= user.roles == "Admin" || user.roles == "Owner" || user.roles
              == "Manager" || user.roles == 'Super' ? employee.store.storeName : 'No Store'%>
            </small>
          </div>
        </div>
      </h2>
    </div>
  </a>
  <% }); %>

  <script src="/js/employees.js"></script>
</body>
<%- include('../partials/footer') %>
