<%- include('../partials/head') %>
<body>
  <%- include('../partials/msg') %> <%- include('../partials/header') %> <% if
  (user.roles == 'Admin') { %>
  <section class="head">
    <div class="container">
      <h2 class="name" style="text-align: center"><a>ADMIN AREA</a></h2>
      <div class="icon-bar row">
        <img class="col profile" src="/imgs/staf.png" alt="" />
        <img class="col contacts" src="/imgs/shop.png" alt="" />
        <img class="col calendar" src="/imgs/stat.png" alt="" />
        <img class="col settings" src="/imgs/db.png" alt="" />
      </div>
    </div>
  </section>
  <section class="profile-tab tab">
    <div class="container flow">
      <span></span>
      <h3 style="margin-bottom: 16px">Users</h3>
    </div>

    <% users.forEach((user)=>{ %>
    <section class="sub-cat">
      <div class="container">
        <h4><a><%= user.userName %></a></h4>
      </div>
    </section>
    <div class="container flow sub-cat-content">
      <span></span>
      <form
        action="/user/<%= user._id%>?_method=PUT"
        method="POST"
        class="flow"
      >
        <label for="userName">User name</label>
        <input type="text" name="userName" id="" value="<%= user.userName %>" />
        <label for="userEmail">User email</label>
        <input type="email" name="userEmail" value="<%= user.userEmail %>" />
        <label for="roles">Role</label>
        <input type="text" name="roles" value="<%= user.roles%>" />
        <div class="d-flex-visible space-between">
          <label for="ctive">Active</label>
          <input
            type="checkbox"
            name="active"
            id=""
            checked="<%= user.active%>"
          />
        </div>
        <div class="d-flex-visible space-between">
          <button class="btn-primary">Update</button>
          <a class="btn-primary" href="/user/<%= user._id%>?_method=DELETE"
            >Delete</a
          >
        </div>
      </form>
    </div>
    <% }) %>
  </section>

  <section class="contact-tab tab">
    <div class="container flow">
      <span></span>
      <h3 style="margin-bottom: 16px">Stores</h3>
    </div>
    <section class="sub-cat">
      <div class="container">
        <h4><a>Store 1</a></h4>
      </div>
    </section>

    <div class="container flow sub-cat-content">
      <span></span>
      <form action="">
        <label for="storeName">User name</label>
        <input type="text" name="storeName" id="" />
        <button class="btn-primary">Save</button>
      </form>
    </div>

    <section class="sub-cat">
      <div class="container">
        <h4><a>Store 2</a></h4>
      </div>
    </section>

    <div class="container flow sub-cat-content">
      <span></span>
      <form action="">
        <label for="storeName">User name</label>
        <input type="text" name="storeName" id="" />
        <button class="btn-primary">Save</button>
      </form>
    </div>
  </section>

  <section class="calendar-tab tab">
    <div class="container flow">
      <span></span>
      <h3 style="margin-bottom: 16px">Statistics</h3>
    </div>
    <section class="sub-cat">
      <div class="container">
        <h4><a>Employees</a></h4>
      </div>
    </section>

    <div class="container flow sub-cat-content">
      <span></span>
      <form action="">
        <label for="storeName">User name</label>
        <input type="text" name="storeName" id="" />
        <button class="btn-primary">Save</button>
      </form>
    </div>

    <section class="sub-cat">
      <div class="container">
        <h4><a>Users</a></h4>
      </div>
    </section>

    <div class="container flow sub-cat-content">
      <span></span>
      <form action="">
        <label for="storeName">User name</label>
        <input type="text" name="storeName" id="" />
        <button class="btn-primary">Save</button>
      </form>
    </div>
  </section>

  <section class="settings-tab tab">
    <div class="container flow">
      <span></span>
      <h3 style="margin-bottom: 16px">Databases</h3>
    </div>
    <section class="sub-cat">
      <div class="container">
        <h4><a>Emplyoees</a></h4>
      </div>
    </section>

    <div class="container flow sub-cat-content">
      <span></span>
      <form action="">
        <label for="storeName">User name</label>
        <input type="text" name="storeName" id="" />
        <button class="btn-primary">Save</button>
      </form>
    </div>

    <section class="sub-cat">
      <div class="container">
        <h4><a>Users</a></h4>
      </div>
    </section>

    <div class="container flow sub-cat-content">
      <span></span>
      <form action="">
        <label for="storeName">User name</label>
        <input type="text" name="storeName" id="" />
        <button class="btn-primary">Save</button>
      </form>
    </div>
  </section>

  <% } %>
  <section class="mid-section">
    <div class="container d-flex-visible center flow">
      <span></span>
      <input
        id="search"
        type="text"
        name="searchEmployee"
        id=""
        placeholder="Find employee..."
      />
    </div>
  </section>
  <section class="secondary-section">
    <div class="container flow">
      <div class="new-employee">
        <h4>CREATE NEW EMPLOYEE</h4>
      </div>
      <form
        method="POST"
        class="employee-form flow"
        action="/employee/personal"
        style="max-height: 0px"
      >
        <div class="flow">
          <div>
            <div class="d-flex-visible space-between">
              <label for="employeeState">Employee state</label>
              <input name="employeeState" type="checkbox" />
            </div>
          </div>
          <div>
            <label for="personalNumber">Personal number</label>
            <input
              type="text"
              name="personalNumber"
              value="<%= data.personalNumber %>"
              required
            />

            <label for="firstName">First name</label>
            <input type="text" name="firstName" value="<%= data.firstName %>" />
          </div>
          <div>
            <label for="lastName">Last name</label>
            <input type="text" name="lastName" value="<%= data.lastName %>" />
          </div>

          <div class="d-flex-visible gap">
            <div class="d-flex-visible gap">
              <label for="male">Male</label>
              <input type="radio" name="gender" value="male" <% if(data.gender
              === 'male') { %> checked <% } else { %> <% } %> />
            </div>
            <div class="d-flex-visible gap">
              <label for="male">Female</label>
              <input type="radio" name="gender" value="female" <% if(data.gender
              === 'female') { %> checked <% } else { %> <% } %> />
            </div>
          </div>
        </div>

        <div class="flow">
          <div>
            <label for="birthDate">Date of birth</label>
            <input type="date" name="birthDate" value="<%= data.birthDate %>" />
          </div>
          <div>
            <label for="birthPlace">Place of birth</label>
            <input
              type="text"
              name="birthPlace"
              value="<%= data.birthPlace %>"
            />
          </div>
          <div>
            <label for="socialSecNumber">Social security number</label>
            <input
              type="number"
              name="socialSecNumber"
              value="<%= data.socialSecNumber %>"
            />
          </div>
          <div>
            <label for="idCardNumber">Identification card number</label>
            <input
              type="text"
              name="idCardNumber"
              value="<%= data.idCardNumber %>"
            />
          </div>
        </div>

        <div class="flow">
          <div>
            <label for="country">Country</label>
            <input type="text" name="country" value="<%= data.country %>" />
          </div>
          <div>
            <label for="nationality">Nationality</label>
            <input
              type="text"
              name="nationality"
              value="<%= data.nationality %>"
            />
          </div>

          <label for="maritalStatus">Marital status</label>
          <div class="d-flex-visible gap">
            <div class="d-flex-visible gap">
              <label for="single">Single</label>
              <input type="radio" name="maritalStatus" value="single" <%
              if(data.maritalStatus === 'single') { %> checked <% } else { %> <%
              } %> />
            </div>
            <div class="d-flex-visible gap">
              <label for="married">Married</label>
              <input type="radio" name="maritalStatus" value="married" <%
              if(data.maritalStatus === 'married') { %> checked <% } else { %>
              <% } %> />
            </div>
          </div>
          <div class="d-flex-visible space-between">
            <button class="btn-primary dark-outline">Create Employee</button>
          </div>
          <div style="height: 25px"></div>
        </div>
      </form>
    </div>
  </section>
  <section class="head">
    <div class="container">
      <% data.forEach((employee)=> {%>
      <h2 class="name">
        <a href="/employee/<%= employee._id %>"
          ><%= employee.firstName %> <%= employee.lastName %>
        </a>
      </h2>
      <% }); %>
    </div>
  </section>
  <script src="/js/employees.js"></script>
</body>
<%- include('../partials/footer') %>
