<%- include('../partials/head') %>
<body>
  <%- include('../partials/msg') %> <%- include('../partials/header') %>
  <a style="display: block" class="head">
    <div class="container">
      <h2 class="name">
        <div class="atag"><%= data.firstName %> <%= data.lastName %></div>
      </h2>
      <div class="icon-bar row">
        <img class="col profile" src="/imgs/profi1.svg" alt="" />
        <img class="col contacts" src="/imgs/cont1.svg" alt="" />
        <img class="col calendar" src="/imgs/cal1.svg" alt="" />
        <img class="col settings" src="/imgs/sett1.svg" alt="" />
      </div>
    </div>
  </a>

  <section class="profile-tab flow tab">
    <div class="container flow">
      <span></span>
      <h3>Personal data</h3>
        <% if (user.roles == 'User') { %>
          <p>
        Here you can manage all your persoal data. You can
        update edit and save the following information.
          </p>
        <% } else { %>
          <p>
            Here you can manage all personal data of the given employee. You can
            update edit and save the following information.
          </p>
        <% } %>  
      <p style="font-weight: bolder">
        <%= ` ${ user.roles == 'User' ? `You are currently assigned to ${data.store == null ? 'No Store' : data.store.storeName}.` : ` ${data.firstName} ${data.lastName} is currently assigned to store
        - ${data.store == null ? 'No Store' : data.store.storeName}.` } `%>
      </p>
      <form
        method="POST"
        class="personal-data-form flow"
        action="/employee/personal/<%= data._id %>?_method=PUT"
      >
        <div class="flow">
          <% if(user.roles == 'Admin' || user.roles == 'Owner' || user.roles == 'Manager' || user.roles == 'Super') { %>
            <div>
              <div class="d-flex-visible space-between">
                <label for="employeeState">Employee active state</label>
                <input autocomplete="off" type="checkbox" name="employeeState" <%
                if(data.employeeState == true) { %> checked <% } else { %> <% } %>
                />
              </div>
            </div>
          <% } %>

          <div>
            <% if(user.roles == 'Admin' || user.roles == 'Owner' || user.roles == 'Super' ) { %>
            <div class="custom-select" style="width: 200px">
              <select name="store" >
                <option value="0">Select store:</option>
                <% stores.forEach((store)=>{ %>
                <option value="<%= store._id %>"><%= store.storeName %></option>
                <% }) %>
              </select>
            </div>
            <% } %>
          </div>

          <div>

            <% if(user.roles == 'Admin' || user.roles == 'Owner' || user.roles == 'Manager' || user.roles == 'Super') { %>
              <label for="personalNumber">Personal number</label>
            <input
              autocomplete="off"
              type="number"
              name="personalNumber"
              value="<%= data.personalNumber %>"
            />
            <% } %>

            <label for="firstName">First name</label>
            <input
              autocomplete="off"
              type="text"
              name="firstName"
              value="<%= data.firstName %>"
              required
            />
          </div>
          <div>
            <label for="lastName">Last name</label>
            <input
              autocomplete="off"
              type="text"
              name="lastName"
              value="<%= data.lastName %>"
              required
            />
          </div>

          <div>
            <label for="birthName">Birth name</label>
            <input
              autocomplete="off"
              type="text"
              name="birthName"
              value="<%= data.birthName %>"
            />
          </div>

          <div class="d-flex-visible gap">
            <div class="d-flex-visible gap">
              <label for="male">Male</label>
              <input autocomplete="off" type="radio" name="gender" value="male"
              <% if(data.gender === 'male') { %> checked <% } else { %> <% } %>
              />
            </div>
            <div class="d-flex-visible gap">
              <label for="male">Female</label>
              <input autocomplete="off" type="radio" name="gender"
              value="female" <% if(data.gender === 'female') { %> checked <% }
              else { %> <% } %> />
            </div>
          </div>
        </div>

        <div class="flow">
          <div>
            <label for="birthDate">Date of birth</label>
            <input autocomplete="off" type="date" name="birthDate" value="<%=
            data.birthDate ? data.birthDate.toISOString().split("T")[0] : "" %>"
            />
            <p> <%= age%> </p>
          </div>
          <div>
            <label for="birthPlace">Place of birth</label>
            <input
              autocomplete="off"
              type="text"
              name="birthPlace"
              value="<%= data.birthPlace %>"
            />
          </div>
          <div>
            <label for="socialSecNumber">Social security number</label>
            <input
              autocomplete="off"
              type="number"
              name="socialSecNumber"
              value="<%= data.socialSecNumber %>"
            />
          </div>
          <div>
            <label for="idCardNumber">Identification card number</label>
            <input
              autocomplete="off"
              type="text"
              name="idCardNumber"
              value="<%= data.idCardNumber %>"
            />
          </div>
        </div>

        <div class="flow">
          <div>
            <label for="country">Country</label>
            <input
              id="countryInput"
              autocomplete="off"
              type="text"
              name="country"
              value="<%= data.country %>"
            />
            <div id="countryBox"></div>
          </div>
          <div>
            <label for="nationality">Nationality</label>
            <input
            id="nationalityInput"
              autocomplete="off"
              type="text"
              name="nationality"
              value="<%= data.nationality %>"
            />
            <div id="nationalityBox"></div>
          </div>

          <label for="maritalStatus">Marital status</label>
          <div class="d-flex-visible gap">
            <div class="d-flex-visible gap">
              <label for="single">Single</label>
              <input autocomplete="off" type="radio" name="maritalStatus"
              value="single" <% if(data.maritalStatus === 'single') { %> checked
              <% } else { %> <% } %> />
            </div>
            <div class="d-flex-visible gap">
              <label for="married">Married</label>
              <input autocomplete="off" type="radio" name="maritalStatus"
              value="married" <% if(data.maritalStatus === 'married') { %>
              checked <% } else { %> <% } %> />
            </div>
          </div>
          <div class="d-flex-visible space-between">
            <button class="add-child btn-primary">Update</button>

            <% if(user.roles == 'Admin' || user.roles == 'Owner' || user.roles == 'Manager') { %>
              <a class="btn-primary" href="/employee/personal/<%= data._id %>">Delete</a> 
            <% } %>
            </div>
          <div style="height: 25px"></div>
        </div>
      </form>
    </div>
  </section>

  <section class="contact-tab flow tab">
    <div class="container flow">
      <span></span>
      <h3>Contatcs</h3>
      <% if (user.roles == 'User') { %>
          <p>
        Here you can manage all your contact data. You can
        update edit and save the following information.
          </p>
        <% } else { %>
          <p>
            Here you can manage all personal data of the given employee. You can
            update edit and save the following information.
          </p>
        <% } %>  
      <form
        action="/employee/contact/<%= data.id %>?_method=PUT"
        class="contatc-data-form flow"
        method="POST"
      >
        <div>
          <label for="landLinePhone">Land line</label>
          <input
            autocomplete="on"
            type="tel"
            name="landLinePhone"
            value="<%= data.landLinePhone %>"
          />
          <label for="mobilePhone">Mobile</label>
          <input
            autocomplete="on"
            type="tel"
            name="mobilePhone"
            value="<%= data.mobilePhone %>"
          />
          <label for="email">Email</label>
          <input
            autocomplete="on"
            type="email"
            name="email"
            value="<%= data.email %>"
          />
          <label for="password">Pay slip pass</label>
          <input
            autocomplete="off"
            type="password"
            name="password"
            value="<%= data.password %>"
          />
        </div>
        <h4>Address</h4>
        <% if (user.roles == 'User') { %>
          <p>
        Here you can manage all your addresses. You can
        update edit and save the following information.
          </p>
        <% } else { %>
          <p>
            Here you can manage all addresses of the given employee. You can
            update edit and save the following information.
          </p>
        <% } %>  
        <h4>Permanent Address</h4>
        <div>
          <label for="street">Street</label>
          <input
            autocomplete="on"
            type="text"
            name="street"
            value="<%= data.street %>"
          />
          <label for="houseNnumber">House number</label>
          <input
            autocomplete="on"
            type="text"
            name="houseNumber"
            value="<%= data.houseNumber %>"
          />
          <label for="city">City/Town</label>
          <input
            autocomplete="on"
            type="text"
            name="city"
            value="<%= data.city %>"
          />
          <label for="postalCode">Postal code</label>
          <input
            autocomplete="on"
            type="number"
            name="postalCode"
            value="<%= data.postalCode%>"
          />
        </div>
        <h4>Temporary Address</h4>
        <div>
          <label for="streetTemp">Street</label>
          <input
            autocomplete="off"
            type="text"
            name="streetTemp"
            value="<%= data.streetTemp %>"
          />
          <label for="houseNnumberTep">House number</label>
          <input
            autocomplete="off"
            type="text"
            name="houseNumberTemp"
            value="<%= data.houseNumberTemp %>"
          />
          <label for="cityTemp">City/Town</label>
          <input
            autocomplete="off"
            type="text"
            name="cityTemp"
            value="<%= data.cityTemp %>"
          />
          <label for="postalCodeTemp">Postal code</label>
          <input
            autocomplete="off"
            type="number"
            name="postalCodeTemp"
            value="<%= data.postalCodeTemp%>"
          />
        </div>


        <button class="add-child btn-primary">Update</button>
        <div style="height: 25px"></div>
      </form>
    </div>
  </section>

  <section class="calendar-tab flow tab">
    <div class="container flow">
      <span></span>
      <h3>Calendar</h3>
      <% if (user.roles == 'User') { %>
          <p>
            Here you can check your calendar days - see vacations. You can also add vacations or remove other absences and edit the calendar.
          </p>
        <% } else { %>
          <p>
            Here you can check the given porson calendar days - see vacations and days the porson worked on. You can also add vacations or remove other absences and edit the calendar.
          </p>
        <% } %>  
      <div class="calendar">
        <div class="decrement">Previous</div>
        <div class="month" value="1">September</div>
        <div class="increment">Next</div>
        <div class="week-day">Mon</div>
        <div class="week-day">Tue</div>
        <div class="week-day">Wed</div>
        <div class="week-day">Thr</div>
        <div class="week-day">Fri</div>
        <div class="week-day">Sat</div>
        <div class="week-day">Sun</div>
        <div class="day">
          <div class="day-num">1</div>
          <div class="day-con">PN</div>
        </div>
        <div class="day">
          <div class="day-num">2</div>
          <div class="day-con">PN</div>
        </div>
        <div class="day">
          <div class="day-num">3</div>
          <div class="day-con">PN</div>
        </div>
        <div class="day">
          <div class="day-num">4</div>
          <div class="day-con">PN</div>
        </div>
        <div class="day">
          <div class="day-num">5</div>
          <div class="day-con">PN</div>
        </div>
        <div class="day"><div class="day-num">6</div></div>
        <div class="day"><div class="day-num">7</div></div>
        <div class="day">
          <div class="day-num">8</div>
          <div class="day-con">OČR</div>
        </div>
        <div class="day">
          <div class="day-num">9</div>
          <div class="day-con">OČR</div>
        </div>
        <div class="day"><div class="day-num">10</div></div>
        <div class="day"><div class="day-num">11</div></div>
        <div class="day"><div class="day-num">12</div></div>
        <div class="day"><div class="day-num">13</div></div>
        <div class="day"><div class="day-num">14</div></div>
        <div class="day"><div class="day-num">15</div></div>
        <div class="day"><div class="day-num">16</div></div>
        <div class="day">
          <div class="day-num">17</div>
          <div class="day-con">8.5</div>
        </div>
        <div class="day">
          <div class="day-num">18</div>
          <div class="day-con">4.5</div>
        </div>
        <div class="day">
          <div class="day-num">19</div>
          <div class="day-con">7.5</div>
        </div>
        <div class="day"><div class="day-num">20</div></div>
        <div class="day"><div class="day-num">21</div></div>
        <div class="day"><div class="day-num">22</div></div>
        <div class="day"><div class="day-num">23</div></div>
        <div class="day">
          <div class="day-num">24</div>
          <div class="day-con">D</div>
        </div>
        <div class="day">
          <div class="day-num">25</div>
          <div class="day-con">D</div>
        </div>
        <div class="day">
          <div class="day-num">26</div>
          <div class="day-con">D</div>
        </div>
        <div class="day"><div class="day-num">27</div></div>
        <div class="day"><div class="day-num">28</div></div>
        <div class="day"><div class="day-num">29</div></div>
        <div class="day"><div class="day-num">30</div></div>
        <div class="day"><div class="day-num">31</div></div>
      </div>
    </div>
    <div style="height: 25px"></div>
  </section>

  <section class="settings-tab tab">
    <div class="container flow">
      <span></span>
      <h3>Profile Settings</h3>
      

      <% if (user.roles == 'User') { %>
        <p class="mgb">
        Here you can set all settings regarding your employment profile.
      </p>
        <% } else { %>
          <p class="mgb">
        Here you can set all settings regarding the given person profile,
        eployment type salary and other settins related to his role and
        position.
      </p>
        <% } %>  

    </div>

    <section class="sub-cat">
      <div class="container flow">
        <h4><a>Children</a></h4>
      </div>
    </section>

    <div class="container flow sub-cat-content">
      <% data.children.forEach( (child)=> { %>

      <div class="childList">
        <div><%= child.childName %> <%= child.childSurname %></div>
        <a
          class="btn-secondary"
          href="/employee/child/<%= data.id %>/<%= child._id %>"
          >Delete</a
        >
      </div>

      <% }); %>

      <% if (user.roles == 'User') { %>
        <p >
          Please give information about your children for tax reimbruisement.
      </p>
        <% } else { %>
          <p >
            Please give information about the employees children for tax reimbruisement.
      </p>
        <% } %> 
      

      <form
        method="POST"
        action="/employee/child/<%= data.id%>"
        class="children-data-form flow"
      >
        <div>
          <label for="childName">Name</label>
          <input
            autocomplete="off"
            type="text"
            name="childName"
            value=""
            required
          />
          <label for="childSurname">Surname</label>
          <input
            autocomplete="off"
            type="text"
            name="childSurname"
            value=""
            required
          />
          <label for="childDateOfBirth">Date of birth</label>
          <input
            autocomplete="off"
            type="date"
            name="childDateOfBirth"
            value=""
            required
          />
          <label for="childSocialSecNumber">Social security number</label>
          <input
            autocomplete="off"
            type="number"
            name="childSocialSecNumber"
            value=""
            required
          />
        </div>
        <button class="add-child btn-primary">Add Child</button>
      </form>
    </div>

    <section class="sub-cat">
      <div class="container flow">
        <h4><a>Spouse</a></h4>
      </div>
    </section>

    <div class="container flow sub-cat-content">
      <span></span>
      <% if (user.roles == 'User') { %>
        <p >
          Please give information about your spouse for tax reimbruisement.
      </p>
        <% } else { %>
          <p >
            Please give information about the employees spouse for tax reimbruisement.
      </p>
        <% } %> 
      <form
        method="POST"
        action="/employee/spouse/<%= data.id%>?_method=PUT"
        class="spouse-data-form flow"
      >
        <div>
          <label for="spouseName">Name</label>
          <input
            autocomplete="off"
            type="text"
            name="spouseName"
            value="<%=data.spouseName%>"
          />
          <label for="spouseSurname">Surname</label>
          <input
            autocomplete="off"
            type="text"
            name="spouseSurname"
            value="<%=data.spouseSurname%>"
          />
          <label for="spouseDateOfBirth">Date of birth</label>
          <input autocomplete="off" type="date" name="spouseDateOfBirth"
          value="<%= data.spouseDateOfBirth ?
          data.spouseDateOfBirth.toISOString().split("T")[0]: ''%>" />
          <label for="spouseSocialSecNumber">Social security number</label>
          <input
            autocomplete="off"
            type="number"
            name="spouseSocialSecNumber"
            value="<%=data.spouseSocialSecNumber%>"
          />
        </div>
        <button class="add-spouse btn-primary">Update</button>
      </form>
    </div>

    <section class="sub-cat">
      <div class="container flow">
        <h4><a>Public health isurance company</a></h4>
      </div>
    </section>

    <div class="container flow sub-cat-content">
      <span></span>
      <% if (user.roles == 'User') { %>
        <p >
          What is the name of the public health insurance company in which you are registered at?
      </p>
        <% } else { %>
          <p >
            What is the name of the public health insurance company in which the employee is registered at?
      </p>
        <% } %> 
      <form
        class="public-health-data-form flow"
        method="POST"
        action="/employee/health/<%= data.id%>?_method=PUT"
      >
        <div>
          <label for="publicHealthInsuranceName"
            >Public health insurance company name</label>
          <input
            autocomplete="off"
            type="text"
            name="publicHealthInsuranceName"
            value="<%= data.publicHealthInsuranceName %>"
          />

          <label for="gastroHealthCard">Gastro health card validity</label>
          <i style="font-size: small"
            >(please leave blank if employee has no gastro card)</i
          >
          <input autocomplete="off" type="date" name="gastroHealthCard"
          id="cardEndDate" value="<%= data.gastroHealthCard%>" <% if
          (data.gastroHealthCard == 'indefinite') { %> disabled <% } %> />
          <label for="indefiniteHealthCard"
            >Gastro card idefinite period of time</label
          >

          <input autocomplete="off" type="checkbox" id="checkHealth" value="<%
          if (data.gastroHealthCard == 'indefinite') { %>0<% } else { %>1<% }
          %>" <% if (data.gastroHealthCard == 'indefinite') { %> checked <% } %>
          />
          <input
            autocomplete="off"
            type="hidden"
            id="hiddenHealth"
            name="gastroHealthCard"
            value="0"
            disabled
          />

          <label for="publicHealthInsuranceName">ZŤP / Dôchodca:</label>
          <input
            autocomplete="off"
            type="text"
            name="ztpDochodca"
            value="<%= data.ztpDochodca %>"
          />

        </div>
        <button class="add-public-health-insurance btn-primary">Update</button>
      </form>
    </div>

    <section class="sub-cat">
      <div class="container flow">
        <h4><a>Bank account information</a></h4>
      </div>
    </section>

    <div class="container flow sub-cat-content">
      <span></span>
      <% if (user.roles == 'User') { %>
        <p >
          Please provide your bank account number to which your salary will be set to.
      </p>
        <% } else { %>
          <p >
            Please provide the bank account number to which the employee salary will be set to.
      </p>
        <% } %> 
      <form
        class="bank-data-form flow"
        method="POST"
        action="/employee/bank/<%= data.id%>?_method=PUT"
      >
        <div>
          <label for="bankName">Bank Name</label>
          <input
            autocomplete="off"
            type="text"
            name="bankName"
            value="<%= data.bankName %>"
          />
        </div>
        <div>
          <label for="accountNumber">Account number</label>
          <input
            autocomplete="off"
            type="text"
            name="accountNumber"
            value="<%= data.accountNumber %>"
          />
        </div>
        <div>
          <label for="bankCode">Bank code</label>
          <input
            autocomplete="off"
            type="number"
            name="bankCode"
            value="<%= data.bankCode %>"
          />
        </div>
        <button class="add-bank btn-primary">Update</button>
      </form>
    </div>


    <section class="sub-cat">
      <div class="container flow">
        <h4><a>School or Other Employer</a></h4>
      </div>
    </section>

    <div class="container flow sub-cat-content">
      <span></span>
      <% if (user.roles == 'User') { %>
        <p >
          In case of you are a student, please provide the name and address of the school that you are atteding. In case you are already employed at another eployer please provide the name of the employer.
      </p>
        <% } else { %>
          <p >
            In case of a student, please provide the name and address of the school that the student is atteding. In case already eployed at another eployer please provide the name of the employer.
      </p>
        <% } %> 
      <form
        class="bank-data-form flow"
        method="POST"
        action="/employee/school-employer/<%= data.id%>?_method=PUT"
      >
        <div>
          <label for="schoolName">School Name</label>
          <input
            autocomplete="off"
            type="text"
            name="schoolName"
            value="<%= data.schoolName %>"
          />
        </div>

        <div>
          <label for="employerName">Employer Name</label>
          <input
            autocomplete="off"
            type="text"
            name="employerName"
            value="<%= data.employerName %>"
          />
        </div>

        <button class="add-bank btn-primary">Update</button>
      </form>
    </div>



    <section class="sub-cat">
      <div class="container flow">
        <h4><a>Tax bonus - NZDČ</a></h4>
      </div>
    </section>

    <div class="container flow sub-cat-content">
      <span></span>
      <% if (user.roles == 'User') { %>
        <p >
          In case you would like to papply for TAX bonus or TAX bonus after children then please specify here and select the appropriote box.
      </p>
        <% } else { %>
          <p >
            In case the employee would like to papply for TAX bonus or TAX bonus after children then please specify here and select the appropriote box.
      </p>
        <% } %> 
      <form
        class="bank-data-form flow"
        method="POST"
        action="/employee/employee-tax/<%= data.id%>?_method=PUT"
      >
            <div class="d-flex-visible space-between">
            <label for="taxBonus">The non-taxable part of the tax base.</label>
            <input autocomplete="off" type="checkbox" name="taxBonus"
             <% if(data.taxBonus === true) { %> checked <% } else { %> <% } %>/>
            </div>

            <div class="d-flex-visible space-between">
            <label for="pensioner">I am a pensioner.</label>
            <input autocomplete="off" type="checkbox" name="pensioner"
             <% if(data.pensioner === true) { %> checked <% } else { %> <% } %>/>
            </div>

            <div class="d-flex-visible space-between">
            <label for="childBonus">I claim the tax bonus for children.</label>
            <input autocomplete="off" type="checkbox" name="childBonus"
             <% if(data.childBonus === true) { %> checked <% } else { %> <% } %>/>
            </div>

        <div>
          <label for="taxStartDate">Tax bonus start day</label>
          <input autocomplete="off" type="date" name="taxStartDate"
          value="<%= data.taxStartDate ?
          data.taxStartDate.toISOString().split("T")[0]: ''%>" />
        </div>

        <button class="add-bank btn-primary">Update</button>
      </form>
    </div>

    <section class="sub-cat">
      <div class="container flow">
        <h4><a>Cotract settings</a></h4>
      </div>
    </section>
    <div class="container flow sub-cat-content">
      <span></span>
     <% if(user.roles == 'User') { %>
      <p>Position name, employment type and start and end tades.</p>
      <% } else { %>
        <p>Please provide the position name and set the employment type and start and end tades.</p>
      <% } %> 
      
      
      <form
        class="employent-form flow"
        method="POST"
        action="/employee/contract/<%= data.id%>?_method=PUT"
      >
      <label for="positionName" style="font-weight: bolder">Current position: <%= position %> </label>

      <% if (user.roles == 'Admin' || user.roles == 'Super' || user.roles == 'Manager' || user.roles == 'Owner') { %>
      <div class="custom-select" style="width: 200px">
              <select name="position" >
                <option value="0">Select position:</option>
                <% positions.forEach((position)=>{ %>
                <option value="<%= position._id %>"><%= position.position %></option>
                <% }) %>
              </select>
      </div>
      <% } %>
            
      
        <div>
          
          <% if(user.roles == 'User') { %>
            <div class="d-flex-visible space-between">
            <label for="contractStartDate">Start date</label>
            <p> <%= data.contractStartDate ?
          data.contractStartDate.toISOString().split("T")[0]: ''%> </p></div>
          <% } else { %>
            <label for="contractStartDate">Start date</label>
          <input autocomplete="off" type="date" name="contractStartDate"
          value="<%= data.contractStartDate ?
          data.contractStartDate.toISOString().split("T")[0]: ''%>" />
          <% } %>
        </div>
        
        <div>
          
          <% if(user.roles == 'User') { %> 
          <% } else { %>
            <label for="endDate">End date</label>
          <input autocomplete="off" id="endDate" type="date"
          name="contractEndDate" value="<%= data.contractEndDate%>" <% if
          (data.contractEndDate == 'indefinite') { %> disabled <% } %>
          />
          <% } %> 
          <% if(user.roles == 'User') { %>
            <div class="d-flex-visible space-between">
            <label for="endDate">End date</label>
            <p><%= !data.contractEndDate ? 'No end date specified' : data.contractEndDate %></p>
            </div>
            <input autocomplete="off" type="hidden" id="check" value="0"/>
          <% } else { %>
            <label for="indefinite">Idefinite period of time</label>
            <input autocomplete="off" type="checkbox" id="check" value=" <% if
          (data.contractEndDate == 'indefinite') { %>0<% } else { %>1<% } %> "
          <% if (data.contractEndDate == 'indefinite') { %> checked <% } %>/>
          <% } %>
          <input
            autocomplete="off"
            type="hidden"
            id="hidden"
            name="contractEndDate"
            value="0"
            disabled
          />
        </div>

       
        
        <div class="flow">
          <% if(user.roles == 'User') { %>
            <div class="d-flex-visible space-between">
            <p>Contrac salary type:</p>
            <p> <%= data.contractSalaryType%> </p>
            </div>

            <div class="d-flex-visible space-between">
            <p>Contrac salary:</p>
            <p> <%= data.contractSalary%> EUR </p>
            </div>

            <% } else { %>
          <p>Please choose the salary type for the employee.</p>
          <div class="d-flex-visible gap">
            <input autocomplete="off" type="radio" name="contractSalaryType"
            value="hourlyRate" <% if(data.contractSalaryType === 'hourlyRate') {
            %> checked <% } else { %> <% } %>/>
            <label for="hourlyRate">Hourly rate</label>
          </div>
          <div class="d-flex-visible gap">
            <input autocomplete="off" type="radio" name="contractSalaryType"
            value="monthlySalary" <% if(data.contractSalaryType ===
            'monthlySalary') { %> checked <% } else { %> <% } %> />
            <label for="monthlySalary">Monthly salary</label>
          </div>
          <div>
            <label for="rate">Rate</label>
            <input
              autocomplete="off"
              type="number"
              step="0.01"
              name="contractSalary"
              value="<%= data.contractSalary%>"
              placeholder="€1.00"
            />
          </div>
          <% } %>
        </div>

        <div class="flow">
          <% if(user.roles == 'User') { %> 
            <div class="d-flex-visible space-between">
            <p>Contract type:</p>
            <p> <%= data.contractType %> </p>
          </div>
          <% } else { %> 
          <p>Please choose the contract type for the employee</p>
          <div class="d-flex-visible gap">
            <input autocomplete="off" type="radio" name="contractType"
            value="TPP" <% if(data.contractType === 'TPP') { %> checked <% }
            else { %> <% } %>/>
            <label for="TPP">Full Time Contract</label>
          </div>
          <div class="d-flex-visible gap">
            <input autocomplete="off" type="radio" name="contractType"
            value="DOBPŠ" <% if(data.contractType === 'DOBPŠ') { %> checked <% }
            else { %> <% } %>/>
            <label for="DOBPŠ">Student Contract</label>
          </div>
          <div class="d-flex-visible gap">
            <input autocomplete="off" type="radio" name="contractType"
            value="DOPČ" <% if(data.contractType === 'DOPČ') { %> checked <% }
            else { %> <% } %>/>
            <label for="DOPČ">Work Agreement</label>
          </div>
          <% } %>

          <% if(user.roles == 'User') { %> 
            <div class="d-flex-visible space-between">
              <label for="contractWeeklyHours">Weekly hours</label>
              <p><%= data.contractWeeklyHours%></p>
            </div>
          <% } else { %> 
            <div>
            <label for="contractWeeklyHours">Weekly hours</label>
            <input
              autocomplete="off"
              type="number"
              value="<%= data.contractWeeklyHours%>"
              placeholder="00.00"
              name="contractWeeklyHours"
              step="0.01"
            />
          </div>
          <% } %>
          

            <div>
              <% if(user.roles == "User") { %> 
                <p>If you are a student and would like to apply for deductive contribution, then please tick the checkbox and specify the date the application should be valid.</p>
                <% } else { %> 
                  <p>If the student would like to apply for deductive contribution, then please tick the checkbox and specify the date the application should be valid.</p>
                  <% } %>
            <label for="studentCompensation">Student Deductive Contribution Announcement</label>
            <input autocomplete="off" type="checkbox" name="studentCompensation"
             <% if(data.studentCompensation === true) { %> checked <% } else { %> <% } %>/>
            </div>

            <div>
            <label for="compensationDateStart">Compensation Date Start</label>
            <input
              autocomplete="off"
              type="date"
              value="<%= data.compensationDateStart ?
              data.compensationDateStart.toISOString().split("T")[0]: ''%>"
              name="compensationDateStart"
            />
          </div>

        </div>
        <button class="add-bank btn-primary">Update</button>
      </form>
    </div>

    


    
    <% if(user.roles == 'Admin' || user.roles == 'Owner' || user.roles == 'Super' || user.roles == 'Manager') { %> 
    <section class="sub-cat">
      <div class="container">
        <h4><a>Send Employee Data</a></h4>
      </div>
    </section>

    <% } %>


    <% if(user.roles == 'Admin' || user.roles == 'Owner' || user.roles == 'Super' || user.roles == 'Manager') { %> 

      <div class="container flow sub-cat-content">
      <span></span>
      <p>
        Here you can send all employee data to your email for further
        registration in other tools. All included information will be embedded
        into the body of the email.
      </p>
      <a class="btn-secondary" href="/employee/email/<%= data.id %>"
        >Send Email</a
      >
      <div class="flex-container">
          <a class="btn-secondary" target="_blank" href="/pdf/personal-data/<%= data.id %>"
            >Record</a>
            <a class="btn-secondary" target="_blank" href="/pdf/contract/<%= data.id %>"
              >Contract</a>
              <a class="btn-secondary" target="_blank" href="/pdf/liability/<%= data.id %>"
                >Liability</a>
                <a class="btn-secondary" target="_blank" href="/pdf/uniform/<%= data.id %>"
                  >Uinform</a>
                  <a class="btn-secondary" target="_blank" href="/pdf/medical/<%= data.id %>"
                    >Medical Record</a>
                    <a class="btn-secondary" target="_blank" href="/pdf/health/<%= data.id %>"
                      >Health and Safety</a>
                      <a class="btn-secondary" target="_blank" href="/pdf/gdpr/<%= data.id %>"
                        >G.D.P.R.</a>
                        <a class="btn-secondary" target="_blank" href="/pdf/payslip/<%= data.id %>"
                          >Payslip Agreement</a>
                          <a class="btn-secondary" target="_blank" href="/pdf/contract-end/<%= data.id %>"
                            >Contract End</a>
                            <a class="btn-secondary" target="_blank" href="/pdf/contract-end-probation/<%= data.id %>"
                              >Contract End By Probation Or By Post</a>
                              <a class="btn-secondary" target="_blank" href="/pdf/student/<%= data.id %>"
                                >Student Announcement On Deductive Contribution</a>
                                <a class="btn-secondary" target="_blank" href="/pdf/nzdc/<%= data.id %>"
                                >TAX Bonus NZDČ</a>
                                <a class="btn-secondary" target="_blank" href="/pdf/zdep/<%= data.id %>"
                                >Electronic Communication Agreement</a>
  
      </div>
    </div>

    <% } else { %> 

      <div class="container flow sub-cat-content">
      <span></span>
      
    </div>
      
    <% } %>

    


  </section>

  <script src="/js/employee.js"></script>
</body>
<%- include('../partials/footer') %>
