<%- include('../partials/head') %>
<body>
  <%- include('../partials/msg') %> <%- include('../partials/header') %> <% if
  (user.roles == 'Admin') { %>
  <a style="display: block" class="head">
    <div class="container">
      <h2 class="name" style="text-align: center">
        <div class="atag">ADMIN AREA</div>
      </h2>
      <div class="icon-bar row">
        <img class="col profile" src="/imgs/staf.png" alt="" />
        <img class="col contacts" src="/imgs/shop.png" alt="" />
        <img class="col calendar" src="/imgs/stat.png" alt="" />
        <img class="col settings" src="/imgs/db.png" alt="" />
      </div>
    </div>
  </a>

  <section class="profile-tab tab">
    <div class="container flow">
      <span></span>
      <h3 style="margin-bottom: 16px">Users</h3>
    </div>

    <% users.forEach((user)=>{ %>
    <section class="sub-cat">
      <div class="container">
        <h4>
          <div class="d-flex-visible space-between">
            <a><%= user.userName %></a>
            <a style="font-size: 16px"><small><%= user.roles%></small></a>
          </div>
        </h4>
      </div>
    </section>
    <div class="container flow sub-cat-content">
      <span></span>
      <form
        action="/user/<%= user._id%>?_method=PUT"
        method="POST"
        class="flow"
      >
        <label for="userName">User name</label>
        <input type="text" name="userName" id="" value="<%= user.userName %>" />
        <label for="userEmail">User email</label>
        <input type="email" name="userEmail" value="<%= user.userEmail %>" />
        <label for="roles">Role</label>
        <input type="text" name="roles" value="<%= user.roles%>" />
        <div class="d-flex-visible space-between">
          <label for="ctive">Active</label>
          <input type="checkbox" name="active" <% if(user.active === true) { %>
          checked <% } else { %> <% } %> />
        </div>
        <div class="d-flex-visible space-between">
          <button class="btn-primary">Update</button>
          <a class="btn-primary" href="/user/<%= user._id%>?_method=DELETE"
            >Delete</a
          >
        </div>
      </form>
    </div>
    <% }) %>
  </section>

  <section class="contact-tab tab">
    <div class="container flow">
      <span></span>
      <h3 style="margin-bottom: 16px">Stores</h3>
    </div>

    <section class="secondary-section">
      <div class="container flow">
        <div class="new-employee">
          <h4>CREATE NEW STORE</h4>
        </div>
        <form
          method="POST"
          class="employee-form flow"
          action="/store"
          style="max-height: 0px"
        >
          <label for="storeUser">Store user</label>
          <div class="custom-select" style="width: 200px">
            <select name="user" id="">
              <option value="0">Select user:</option>
              <% managers.forEach((user)=>{ %>
              <option value="<%= user._id %>"><%= user.userName %></option>
              <% }) %>
            </select>
          </div>

          <label for="storeName">Store name</label>
          <input type="text" name="storeName" id="" />

          <label for="storeStreet">Store street</label>
          <input type="text" name="storeStreet" id="" />

          <label for="storeStreetNumber">Street number</label>
          <input type="text" name="storeStreetNumber" id="" />

          <label for="storeCity">Store city</label>
          <input type="text" name="storeCity" id="" />

          <label for="storeRGM">Store RGM</label>
          <input type="text" name="storeRGM" id="" />

          <button class="btn-primary dark-outline">Save</button>
        </form>
      </div>
    </section>

    <% stores.forEach((store)=>{ %>
    <section class="sub-cat">
      <div class="container">
        <h4>
          <div class="d-flex-visible space-between">
            <a> <%= store.storeName %> </a>
            <a> <%= store.user.userName %> </a>
          </div>
        </h4>
      </div>
    </section>

    <div class="container flow sub-cat-content">
      <span></span>
      <form
        action="/store/<%= store._id%>?_method=PUT"
        class="flow"
        method="POST"
      >
        <div class="custom-select" style="width: 200px">
          <select name="user" id="">
            <option value="0">Select user:</option>
            <% managers.forEach((user)=>{ %>
            <option value="<%= user._id %>"><%= user.userName %></option>
            <% }) %>
          </select>
        </div>

        <label for="storeName">Store name</label>
        <input
          type="text"
          name="storeName"
          id=""
          value="<%= store.storeName %>"
        />

        <label for="storeStreet">Store street</label>
        <input
          type="text"
          name="storeStreet"
          id=""
          value="<%= store.storeStreet %>"
        />

        <label for="storeStreetNumber">Street number</label>
        <input
          type="text"
          name="storeStreetNumber"
          id=""
          value="<%= store.storeStreetNumber %>"
        />

        <label for="storeCity">Store city</label>
        <input
          type="text"
          name="storeCity"
          id=""
          value="<%= store.storeCity %>"
        />

        <label for="storeRGM">Store RGM</label>
        <input
          type="text"
          name="storeRGM"
          id=""
          value="<%= store.storeRGM %>"
        />

        <div class="d-flex-visible space-between">
          <button class="btn-primary">Update</button>
          <a class="btn-primary" href="/<%= store._id%>?_method=DELETE"
            >Delete</a
          >
        </div>
      </form>
    </div>
    <% }) %>
  </section>

  <section class="calendar-tab tab">
    <div class="container flow">
      <span></span>
      <h3 style="margin-bottom: 16px">Statistics</h3>
    </div>
    <section class="sub-cat">
      <div class="container">
        <h4><a>Employees</a></h4>
      </div>
    </section>

    <div class="container flow sub-cat-content">
      <span></span>
      <form action="">
        <label for="storeName">User name</label>
        <input type="text" name="storeName" id="" />
        <button class="btn-primary">Save</button>
      </form>
    </div>

    <section class="sub-cat">
      <div class="container">
        <h4><a>Users</a></h4>
      </div>
    </section>

    <div class="container flow sub-cat-content">
      <span></span>
      <form action="">
        <label for="storeName">User name</label>
        <input type="text" name="storeName" id="" />
        <button class="btn-primary">Save</button>
      </form>
    </div>
  </section>

  <section class="settings-tab tab">
    <div class="container flow">
      <span></span>
      <h3 style="margin-bottom: 16px">Databases</h3>
    </div>
    <section class="sub-cat">
      <div class="container">
        <h4><a>Emplyoees</a></h4>
      </div>
    </section>

    <div class="container flow sub-cat-content">
      <span></span>
      <form action="">
        <label for="storeName">User name</label>
        <input type="text" name="storeName" id="" />
        <button class="btn-primary">Save</button>
      </form>
    </div>

    <section class="sub-cat">
      <div class="container">
        <h4><a>Users</a></h4>
      </div>
    </section>

    <div class="container flow sub-cat-content">
      <span></span>
      <form action="">
        <label for="storeName">User name</label>
        <input type="text" name="storeName" id="" />
        <button class="btn-primary">Save</button>
      </form>
    </div>
  </section>

  <% } %> <% if(user.roles == 'Manager' || user.roles == 'Admin') { %>
  <section class="mid-section">
    <div class="container d-flex-visible center flow">
      <span></span>
      <input
        id="search"
        type="text"
        name="searchEmployee"
        id=""
        placeholder="Find employee..."
      />
    </div>
  </section>

  <% if (stores.length != 0) { %>
  <section class="secondary-section">
    <div class="container flow">
      <div class="new-employee">
        <h4>
          CREATE NEW EMPLOYEE <%= user.roles == 'Manager' ? stores.storeName :
          '' %>
        </h4>
      </div>
      <form
        method="POST"
        class="employee-form flow"
        action="/employee/personal"
        style="max-height: 0px"
      >
        <div class="flow">
          <div>
            <div class="d-flex-visible space-between">
              <label for="employeeState">Employee state</label>
              <input name="employeeState" type="checkbox" checked />
              <% if(user.roles == 'Manager') { %>
              <input type="hidden" value="<%= stores._id %>" name="store" />
              <% } %>
            </div>
          </div>
          <div>
            <% if(user.roles == 'Admin') { %>
            <div class="custom-select" style="width: 200px">
              <select name="store" id="">
                <option value="0">Select store:</option>
                <% stores.forEach((store)=>{ %>
                <option value="<%= store._id %>"><%= store.storeName %></option>
                <% }) %>
              </select>
            </div>
            <% } %>
          </div>

          <div>
            <label for="personalNumber">Personal number</label>
            <input
              type="text"
              name="personalNumber"
              value="<%= data.personalNumber %>"
              required
            />

            <label for="firstName">First name</label>
            <input type="text" name="firstName" value="<%= data.firstName %>" />
          </div>
          <div>
            <label for="lastName">Last name</label>
            <input type="text" name="lastName" value="<%= data.lastName %>" />
          </div>

          <div class="d-flex-visible gap">
            <div class="d-flex-visible gap">
              <label for="male">Male</label>
              <input type="radio" name="gender" value="male" <% if(data.gender
              === 'male') { %> checked <% } else { %> <% } %> />
            </div>
            <div class="d-flex-visible gap">
              <label for="male">Female</label>
              <input type="radio" name="gender" value="female" <% if(data.gender
              === 'female') { %> checked <% } else { %> <% } %> />
            </div>
          </div>
        </div>

        <div class="flow">
          <div>
            <label for="birthDate">Date of birth</label>
            <input type="date" name="birthDate" value="<%= data.birthDate %>" />
          </div>
          <div>
            <label for="birthPlace">Place of birth</label>
            <input
              type="text"
              name="birthPlace"
              value="<%= data.birthPlace %>"
            />
          </div>
          <div>
            <label for="socialSecNumber">Social security number</label>
            <input
              type="number"
              name="socialSecNumber"
              value="<%= data.socialSecNumber %>"
            />
          </div>
          <div>
            <label for="idCardNumber">Identification card number</label>
            <input
              type="text"
              name="idCardNumber"
              value="<%= data.idCardNumber %>"
            />
          </div>
        </div>

        <div class="flow">
          <div>
            <label for="country">Country</label>
            <input type="text" name="country" value="<%= data.country %>" />
          </div>
          <div>
            <label for="nationality">Nationality</label>
            <input
              type="text"
              name="nationality"
              value="<%= data.nationality %>"
            />
          </div>

          <label for="maritalStatus">Marital status</label>
          <div class="d-flex-visible gap">
            <div class="d-flex-visible gap">
              <label for="single">Single</label>
              <input type="radio" name="maritalStatus" value="single" <%
              if(data.maritalStatus === 'single') { %> checked <% } else { %> <%
              } %> />
            </div>
            <div class="d-flex-visible gap">
              <label for="married">Married</label>
              <input type="radio" name="maritalStatus" value="married" <%
              if(data.maritalStatus === 'married') { %> checked <% } else { %>
              <% } %> />
            </div>
          </div>
          <div class="d-flex-visible space-between">
            <button class="btn-primary dark-outline">Create Employee</button>
          </div>
          <div style="height: 25px"></div>
        </div>
      </form>
    </div>
  </section>
  <% } %> <% } %> <% data.forEach((employee)=> {%>
  <a
    style="display: block"
    href="/employee/<%= employee._id %>"
    class="head-employee"
    ><div class="container">
      <h2 class="name">
        <div class="d-flex-visible space-between">
          <div class="atag">
            <%= employee.lastName %> <%= employee.firstName %>
          </div>
          <div class="atag">
            <small style="font-size: 13px">
              <%= stores.storeName %> <%= user.roles == "Admin" ?
              employee.store.storeName : ''%>
            </small>
          </div>
        </div>
      </h2>
    </div>
  </a>
  <% }); %>

  <script src="/js/employees.js"></script>
</body>
<%- include('../partials/footer') %>
