<%- include('../partials/head') %>
<body>
  <%- include('../partials/msg') %> <%- include('../partials/header') %> <%
  if(user.roles == "User") { %>
  <section class="secondary-section">
    <div class="container d-flex-col center gap">
      <h1>Welcome to KFC</h1>
      <h3>We are very happy to have you joining our team.</h3>
      <p>
        Please click on your name in the header section and update your personal
        information.
      </p>
    </div>
  </section>
  <% } %> <% if (user.roles == 'Admin' || user.roles == 'Manager' || user.roles
  == 'Owner') { %>
  <a style="display: block" class="head">
    <div class="container">
      <h2 class="name" style="text-align: center">
        <% if(user.roles == 'Admin' || user.roles == 'Owner') { %>
        <div class="atag">ADMIN AREA</div>
        <% } %> <% if(user.roles == 'Manager') { %>
        <div class="atag">MANAGER AREA</div>
        <% } %>
      </h2>
      <div class="icon-bar row">
        <img class="col profile" src="/imgs/staf.png" alt="" />
        <img class="col contacts" src="/imgs/shop.png" alt="" />
        <img class="col calendar" src="/imgs/stat.png" alt="" />
        <img class="col settings" src="/imgs/db.png" alt="" />
      </div>
    </div>
  </a>

  <section class="profile-tab tab">
    <div class="container flow">
      <span></span>
      <h3 style="margin-bottom: 16px">Users</h3>
    </div>

    <% users.forEach((userHere)=>{ %>
    <section class="sub-cat">
      <div class="container">
        <h4>
          <div class="d-flex-visible space-between">
            <a><%= userHere.userName %></a>
            <a style="font-size: 16px"><small><%= userHere.roles%></small></a>
          </div>
        </h4>
      </div>
    </section>
    <div class="container flow sub-cat-content">
      <span></span>
      <form
        action="/user/<%= userHere._id%>?_method=PUT"
        method="POST"
        class="flow"
      >
        <label for="userName">User name</label>
        <input
          autocomplete="off"
          type="text"
          name="userName"
          value="<%= userHere.userName %>"
        />
        <label for="userEmail">User email</label>
        <input
          autocomplete="off"
          type="email"
          name="userEmail"
          value="<%= userHere.userEmail %>"
        />
        <% if(user.roles == 'Admin' || user.roles == 'Owner') { %>
        <label for="roles">Role</label>
        <input
          autocomplete="off"
          type="text"
          name="roles"
          value="<%= userHere.roles%>"
        />

        <% } %>

        <div class="d-flex-visible space-between">
          <label for="ctive">Active</label>
          <input autocomplete="off" type="checkbox" name="active" <%
          if(userHere.active === true) { %> checked <% } else { %> <% } %> />
        </div>
        <div class="d-flex-visible space-between">
          <button class="btn-primary">Update</button>
          <a class="btn-primary" href="/user/<%= userHere._id%>">Delete</a>
        </div>
      </form>
    </div>
    <% }) %>
  </section>

  <section class="contact-tab tab">
    <div class="container flow">
      <span></span>
      <% if(user.roles == 'Admin' || user.roles == 'Owner') { %>
      <h3 style="margin-bottom: 16px">Stores</h3>
      <% } %> <% if(user.roles == 'Manager') { %>
      <h3 style="margin-bottom: 16px">Store details</h3>
      <% } %>
    </div>

    <% if(user.roles == 'Manager' && stores) { %>

    <section class="sub-cat">
      <div class="container">
        <h4>
          <div class="d-flex-visible space-between">
            <a> <%= stores.storeName %> </a>
            <a> <%= stores.user.userName %> </a>
          </div>
        </h4>
      </div>
    </section>

    <div class="container flow sub-cat-content">
      <span></span>
      <form
        action="/store/<%= stores._id%>?_method=PUT"
        class="flow"
        method="POST"
      >
        <label for="storeName">Store name</label>
        <input
          autocomplete="off"
          type="text"
          name="storeName"
          value="<%= stores.storeName %>"
        />

        <label for="storeStreet">Store street</label>
        <input
          autocomplete="off"
          type="text"
          name="storeStreet"
          value="<%= stores.storeStreet %>"
        />

        <label for="storeStreetNumber">Street number</label>
        <input
          autocomplete="off"
          type="text"
          name="storeStreetNumber"
          value="<%= stores.storeStreetNumber %>"
        />

        <label for="storeCity">Store city</label>
        <input
          autocomplete="off"
          type="text"
          name="storeCity"
          value="<%= stores.storeCity %>"
        />

        <label for="storeRGM">Store RGM</label>
        <input
          autocomplete="off"
          type="text"
          name="storeRGM"
          value="<%= stores.storeRGM %>"
        />

        <div class="d-flex-visible space-between">
          <button class="btn-primary">Update</button>
        </div>
      </form>
    </div>

    <% } %> <% if(user.roles == 'Admin' || user.roles == 'Owner') { %>

    <section class="secondary-section">
      <div class="container flow">
        <div class="new-employee">
          <h4>CREATE NEW STORE</h4>
        </div>
        <form
          method="POST"
          class="employee-form flow"
          action="/store"
          style="max-height: 0px"
        >
          <input
            autocomplete="off"
            type="hidden"
            name="admin"
            value="<%=user.id%>"
          />
          <label for="storeUser">Store user</label>
          <div class="custom-select" style="width: 200px">
            <select name="user">
              <option value="0">Select user:</option>
              <% users.forEach((user)=>{ %>
              <option value="<%= user._id %>"><%= user.userName %></option>
              <% }) %>
            </select>
          </div>

          <label for="storeName">Store name</label>
          <input autocomplete="off" type="text" name="storeName" />

          <label for="storeEmail">Store email</label>
          <input autocomplete="off" type="email" name="storeEmail" />

          <label for="storeStreet">Store street</label>
          <input autocomplete="off" type="text" name="storeStreet" />

          <label for="storeStreetNumber">Street number</label>
          <input autocomplete="off" type="text" name="storeStreetNumber" />

          <label for="storeCity">Store city</label>
          <input autocomplete="off" type="text" name="storeCity" />

          <label for="storeRGM">Store RGM</label>
          <input autocomplete="off" type="text" name="storeRGM" />

          <button class="btn-primary dark-outline">Save</button>
        </form>
      </div>
    </section>

    <% stores.forEach((store)=>{ %>
    <section class="sub-cat">
      <div class="container">
        <h4>
          <div class="d-flex-visible space-between">
            <a> <%= store.storeName %> </a>
            <a> <%= store.user.userName %> </a>
          </div>
        </h4>
      </div>
    </section>

    <div class="container flow sub-cat-content">
      <span></span>
      <form
        action="/store/<%= store._id%>?_method=PUT"
        class="flow"
        method="POST"
      >
        <div class="custom-select" style="width: 200px">
          <select name="user">
            <option value="0">Select user:</option>
            <% users.forEach((user)=>{ %>
            <option value="<%= user._id %>"><%= user.userName %></option>
            <% }) %>
          </select>
        </div>

        <label for="storeName">Store name</label>
        <input
          autocomplete="off"
          type="text"
          name="storeName"
          value="<%= store.storeName %>"
        />

        <label for="storeEmail">Store email</label>
        <input
          autocomplete="off"
          type="email"
          name="storeEmail"
          value="<%= store.storeEmail %>"
        />

        <label for="storeStreet">Store street</label>
        <input
          autocomplete="off"
          type="text"
          name="storeStreet"
          value="<%= store.storeStreet %>"
        />

        <label for="storeStreetNumber">Street number</label>
        <input
          autocomplete="off"
          type="text"
          name="storeStreetNumber"
          value="<%= store.storeStreetNumber %>"
        />

        <label for="storeCity">Store city</label>
        <input
          autocomplete="off"
          type="text"
          name="storeCity"
          value="<%= store.storeCity %>"
        />

        <label for="storeRGM">Store RGM</label>
        <input
          autocomplete="off"
          type="text"
          name="storeRGM"
          value="<%= store.storeRGM %>"
        />

        <div class="d-flex-visible space-between">
          <button class="btn-primary">Update</button>
          <a class="btn-primary" href="/store/<%= store._id%>">Delete</a>
        </div>
      </form>
    </div>
    <% }) %> <% } %>
  </section>

  <section class="calendar-tab tab">
    <div class="container flow">
      <span></span>
      <h3 style="margin-bottom: 16px">Statistics</h3>
    </div>
    <section class="sub-cat">
      <div class="container">
        <h4><a>Employees</a></h4>
      </div>
    </section>

    <div class="container flow sub-cat-content">
      <span></span>
      <form action="">
        <label for="storeName">User name</label>
        <input autocomplete="off" type="text" name="storeName" />
        <button class="btn-primary">Save</button>
      </form>
    </div>

    <section class="sub-cat">
      <div class="container">
        <h4><a>Users</a></h4>
      </div>
    </section>

    <div class="container flow sub-cat-content">
      <span></span>
      <form action="">
        <label for="storeName">User name</label>
        <input autocomplete="off" type="text" name="storeName" />
        <button class="btn-primary">Save</button>
      </form>
    </div>
  </section>

  <section class="settings-tab tab">
    <div class="container flow">
      <span></span>
      <h3 style="margin-bottom: 16px">Databases</h3>
    </div>
    <section class="sub-cat">
      <div class="container">
        <h4><a>Emplyoees</a></h4>
      </div>
    </section>

    <div class="container flow sub-cat-content">
      <span></span>
      <form action="">
        <label for="storeName">User name</label>
        <input autocomplete="off" type="text" name="storeName" />
        <button class="btn-primary">Save</button>
      </form>
    </div>

    <section class="sub-cat">
      <div class="container">
        <h4><a>Users</a></h4>
      </div>
    </section>

    <div class="container flow sub-cat-content">
      <span></span>
      <form action="">
        <label for="storeName">User name</label>
        <input autocomplete="off" type="text" name="storeName" />
        <button class="btn-primary">Save</button>
      </form>
    </div>
  </section>

  <% } %> <% if(user.roles == 'Manager' || user.roles == 'Admin' || user.roles
  == 'Owner') { %>
  <section class="mid-section">
    <div class="container d-flex-visible center flow">
      <span></span>
      <input
        autocomplete="off"
        id="search"
        type="text"
        name="searchEmployee"
        placeholder="Find employee..."
      />
    </div>
  </section>

  <% if (user.roles == 'Manager' && stores || user.roles == 'Admin' ||
  user.roles == 'Owner' ) { %>
  <section class="secondary-section">
    <div class="container flow">
      <div class="new-employee">
        <h4>
          CREATE NEW EMPLOYEE <%= user.roles == 'Manager' || user.roles ==
          'Owner' ? stores.storeName : '' %>
        </h4>
      </div>
      <form
        method="POST"
        class="employee-form flow"
        action="/employee/personal"
        style="max-height: 0px"
      >
        <div class="flow">
          <div>
            <div class="d-flex-visible space-between">
              <label for="employeeState">Employee state</label>
              <input
                autocomplete="off"
                name="employeeState"
                type="checkbox"
                checked
              />
              <% if(user.roles == 'Manager') { %>
              <input
                autocomplete="off"
                type="hidden"
                value="<%= stores._id %>"
                name="store"
              />
              <% } %>
            </div>
          </div>
          <div>
            <% if(user.roles == 'Admin' || user.roles == 'Owner') { %>
            <div class="custom-select" style="width: 200px">
              <select name="store">
                <option value="0">Select store:</option>
                <% stores.forEach((store)=>{ %>
                <option value="<%= store._id %>"><%= store.storeName %></option>
                <% }) %>
              </select>
            </div>
            <% } %>
          </div>

          <div>
            <label for="firstName">First name</label>
            <input
              autocomplete="off"
              type="text"
              name="firstName"
              value="<%= data.firstName %>"
              required
            />
          </div>
          <div>
            <label for="lastName">Last name</label>
            <input
              autocomplete="off"
              type="text"
              name="lastName"
              value="<%= data.lastName %>"
              required
            />
          </div>

          <div>
            <label for="email">Email</label>
            <input
              autocomplete="off"
              type="email"
              name="email"
              value="<%= data.email %>"
            />
            <label for="password">Pay slip pass</label>
            <input
              autocomplete="off"
              type="password"
              name="password"
              value="<%= data.password %>"
            />
          </div>

          <div class="d-flex-visible space-between">
            <button class="btn-primary dark-outline">Create Employee</button>
          </div>
          <div style="height: 25px"></div>
        </div>
      </form>
    </div>
  </section>
  <% } %> <% } %> <% data.forEach((employee)=> {%>
  <a
    style="display: block"
    href="/employee/<%= employee._id %>"
    class="head-employee"
    ><div class="container">
      <h2 class="name">
        <div class="d-flex-visible space-between">
          <div class="atag">
            <%= employee.lastName %> <%= employee.firstName %>
          </div>
          <div class="atag">
            <small style="font-size: 13px">
              <%= user.roles == "Admin" || user.roles == "Owner" || user.roles
              == "Manager" ? employee.store.storeName : 'No Store'%>
            </small>
          </div>
        </div>
      </h2>
    </div>
  </a>
  <% }); %>

  <script src="/js/employees.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/main.js"></script>
</body>
<%- include('../partials/footer') %>
