<%- include('../partials/head') %>
<body>
  <%- include('../partials/msg') %> <%- include('../partials/header') %>
  <section class="secondary-section d-flex-center">
    <div class="container flow">
      <span></span>
      <div class="login">
        <h2>Please reset your password here</h2>
        <% if (messages.error) { %>
        <p><%= messages.error %></p>
        <% } %>
      </div>
      <form method="POST" class="login-form flow" action="/resetpass/<%= id%>/<%=token%>?_method=PUT">
        <div class="flow">
          <div>
            <label for="password">New Password</label>
            <input
              autocomplete="off"
              type="password"
              name="password"
              value=""
              required
            />
            
          </div>
          <div>
            <label for="passwordConfirm">Confirm New Password</label>
            <input
              autocomplete="off"
              type="password"
              name="passwordConfirm"
              value=""
              required
            />
          </div>
        </div>
        <div class="flow">
          <div class="d-flex-visible space-between">
            <button class="btn-primary dark-outline">Reset</button>
          </div>
          <div style="height: 25px"></div>
        </div>
      </form>
    </div>
  </section>
</body>
<%- include('../partials/footer') %>
